doctype html
html
  head
    title= appTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='javascripts/init', type='text/javascript', src='javascripts/require.js')
  body
    div#main(class='container-fluid')
      div(class='row')
        div#left-menu(class='col-xs-3 col-lg-2')
          h1= appTitle
          h2= menuTitle
            a#add-item
              i(class='fa fa-plus-circle')
          ul#menu-items-wrapper(class='nav nav-pills nav-stacked')
        div#content(class='col-xs-9 col-lg-10')