doctype html
html
  head
    title= 'Gardening Tools'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='../node_modules/font-awesome/css/font-awesome.css')
    script(data-main='javascripts/init', type='text/javascript', src='../node_modules/requiresjs/require.js')
  body
    h1= 'Gardening Tools'
    div#gardeningapp
      div#menu
      div#content